header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    color: #008080;
}
.imagem{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 180px;
    object-fit: cover;
}